<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="detalle"></Label>
</ActionBar>


<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <!--Label class="page__content-placeholder" *ngFor="let s of this.noticias.buscar()" [text]="s"></Label-->
    <!--PullToRefresh (refresh)="onPull($event)"-->
        <ListView class="list-group" [items]="this.resultados"  style="height:1250px">
            <ng-template let-x="item">
                <GridLayout columns="auto,*,auto" rows="auto,35" verticalAlignment="top" backgroundColor="lightgray">
                    <Image [src]="" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top">
                    </Image>
                    <Label text="Excelente hotel" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3" ></Label>
                    <Label text="Usuario:carlos perez"row="1" textWrap="true" col="1" margin="3" minHeight="50" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" ></Label>
                    <Label text="puntaje: 4.3"row="1" color="#10c2B0" col="2" fontSize="14"  verticalAlignment="bottom" margin="3"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    <!--/PullToRefresh-->
</StackLayout>